<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-for="(val,key,i) in user">值是：{{val}}---键是：{{key}}---索引：{{i}}</p>
        <p v-for="count in 10">{{count}}次循环</p> 
    </div>

    <script>
    var vm = new Vue({
        el:"#app",
        data:{
            user:{
                id:1,
                name:'苏正辉',
                sex:'女'
            }
        },
        methods:{}
    });
    </script>
</body>
</html>